
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@font-face {
  font-family: 'KdG';
  src: url('/webfont/KdG-Regular.eot'); /* IE9 Compat Modes */
  src: url('/webfont/KdG-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/webfont/KdG-Regular.woff') format('woff'), /* Modern Browsers */
       url('/webfont/KdG-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/webfont/KdG-Regular.svg#KdG-Regular') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
body {
  font-family: Verdana !important;
  font-size: 0.8em;
  background-color: #f1f5f8 !important;
  color: black;
}
 a.ui {
  font-size: 11px !important;
}
.domain-link {
  text-decoration: none;
  color: rgba(255, 248, 248, 0.884);;
}
.header-link {
  font-family: 'kdg';
  font-weight: bold;
  font-size: 1.5em;
}

.upload-wrap {
  position: relative;
  text-align: center;
}

.upload-btn, .upload-btn-2 {
  left: 0 !important; 
  right: 0 !important; 
  margin-left: auto !important; 
  margin-right: auto !important; 
  width: 200px !important;
}

.upload-btn {
  position: absolute !important; 
  opacity: 0;
}
#pack {
  display: block;
  margin: 0 auto;
  width: 200px !important;
}
.submit {
    text-align: center;
}
.jumbotron > h1, .jumbotron > h2, .jumbotron > h3, .jumbotron > h4, th {
  color: white;
  font-weight: bold;
  font-family: 'kdg';
}
h1,h2,h3,h4,h5 {
  font-weight: bold;
  font-family: 'kdg';
}
.header {
  font-family: 'kdg' !important;
}
thead th {
  font-family: 'kdg';
  color: white;
  vertical-align: middle;  
}
// thead {
//   background-color: #0c090a !important;
// }
.table th, .table td {
  vertical-align: middle;
}
.jumbotron {
  background-color: #0c090a;
  border-radius: 0;
}

.btn {
  font-size: inherit !important;
}
.detail-btn {
  padding: 10px !important;
  background-color: black;
  border-radius: 5px;
  cursor: pointer;

}

.card-header {
  font-family: 'kdg';
  color: white;
  font-weight: bold;
}
.content {
  padding: 0 !important;
}
.card-body {
  padding: 0;
  margin: 0;
}
table {
  margin-bottom: 0 !important;
}

.table_container {
  position: relative;
  min-height: 514px !important;
  padding-bottom: 25px !important;
}

.page_btn_div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 5px !important;
}

table#overview td {
  position: relative;
}
table#overview .old, table#overview .old:hover {
  background-color: $red !important;
}
table#overview .almost_old td:last-of-type {
  border-right: 2px solid $red !important;
}
table#overview .old .addYearBtn {
  display: inline-block !important;
  position: absolute;
  top: 8px;
  right: 0;
  font-size: 10px;
  font-weight: bold;
}
table#overview .old .addYearBtn::after {
  content: "";
  clear: both;
  display: table;
}